:root{
  font-size: 18px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  --var-border: 1px solid #DCDCDC;
  --accent-blue: rgb(41, 41, 250);
  --light-text:rgba(155, 155, 155, 0.56);
}

/* heading styles */

h2{
  font-weight: 600;
  font-size: 0.8rem;
  color: #000;
}

h2 span{
  font-weight: 400;
  font-size:  0.8rem;
  color: #000;
}

h3{
  font-size: 0.5rem;
}


.boxwidth{
  width: 68%;
  margin: 0 auto;
}




/* HEADER */

.header{
  background: #FAFAFA;
  padding-top: 3em;
  /* border-top: var(--var-border) ; */
}


