.sidebar {
  position: fixed;
  background: #fff;
  /* filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.25)); */
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  width: 4.5rem;
  height: 100vh;
  transition: all 500ms ease;
  z-index: 1;
  overflow: hidden;
}

.right {
  right: 0;
  overflow-y: scroll;
  scrollbar-width: none;
}

.right::-webkit-scrollbar {
  display: none;
}

.sidebar:hover {
  width: 15rem;
}

.right:hover {
  width: 25rem;
}

.chatting {
  width: 25rem;
}

.sidebar_flex {
  padding-top: 4em;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  flex: 1;
  height: 100%;
}

.right_align {
  align-items: flex-end;
  /* padding-right: 1.5em; */
}

.sidebar_item {
  list-style: none;
  width: 100%;
}

.sidebar_item:last-child {
  margin-top: auto;
}

.sidebar_link {
  display: flex;
  align-items: center;
  height: 4rem;
  text-decoration: none;
  transition: background 200ms ease;
  cursor: pointer;
}

.sidebar_link:hover,
.right .profile_image:hover {
  background: rgba(194, 194, 194, 0.205);
}

.sidebar_link_text {
  /* display: none; */
  margin-left: 2rem;
  color: #000;
  min-width: 15rem;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.02em;
  transition: display 2ms ease;
}

.sidebar:hover .sidebar_link_text {
  display: block;
}

.sidebar_item svg {
  min-width: 24px;
  margin-left: 1.5rem;
}

.right .profile_image {
  padding-right: 1em;
  margin-right: 0.5em;
  cursor: pointer;
  border-radius: 4px;
}

.profile_image_margin img {
  object-fit: contain;
  width: 30px;
  height: auto;
}

.profile_image_margin {
  display: flex;
  height: 4rem;
  align-items: center;
}

.messagecard {
  width: 20rem;
  height: 4rem;
  margin-top: 1rem;
  /* border: var(--var-border); */
  margin-right: 1em;
  padding: 0.5em 1.5em;
}

.messagecard h3 {
  font-size: 0.8rem;
  font-weight: 600;
}

.messagecard h4 {
  font-size: 0.8rem;
  font-weight: 500;
  color: rgb(95, 95, 95);
}
.messagecard h4 span {
  font-weight: 300;
}

.chat {
  width: 20rem;
  position: absolute;
  top: 4em;
  padding: 0 0.5em;
  animation: chatslide 400ms ease;
  /* margin-left: -200px; */
}

.chat__box {
  height: 90vh;
  background: #fff;
  border: var(--var-border);
  border-radius: 4px;
  overflow: scroll;
  scrollbar-width: none;
  position: relative;
}

.chat__box::-webkit-scrollbar{
  display: none;
}

.chat__header {
  width: 18.9rem;
  background: #fff;
  padding: 0.5em;
  border-bottom: var(--var-border);
  display: flex;
  justify-content: space-between;
  position: fixed;
  border-radius: 3px 3px 0 0;
  animation: chatfade 2s ease;
}

.chat__header svg {
  cursor: pointer;
}

.back_svg {
  transform: rotate(-90deg);
}

.chat_content{
  margin-top: 2.5em;
  padding: 1em;
  font-size: 0.9rem;
}

.chat_text{
  width: fit-content;
  max-width: 100%;
  border: var(--var-border);
  border-radius: 25px;
  padding: 0.5em 1em;
  margin-bottom: 0.5em;
  overflow-wrap: break-word;
}

.chat_text h5{
  font-weight: 500;
}

.chat__form {
  position: fixed;
  bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18.9rem;
}

.chat__input,
.chat__button {
  outline: none;
  border: none;
  height: 3rem;
  padding: 0 2em;
  margin: 0 0.5em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  animation: chatfade 2s ease;
}

.chat__input {
  padding: 0 5em 0 2em;
  width: 100%;
  border: var(--var-border);
  border-radius: 50px;
}

.chat__button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  color: var(--accent-blue);
}

@keyframes chatslide {
  from {
      margin-left: -200px;
  }
  to {
      margin-left: 0;
  }
}


@keyframes chatfade {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

.popOutMenu{
  background: #fff;
  border-radius: 5px;
  position: absolute;
  left: 2em;
  bottom: 2em;
  padding-top: 0.3em;
  box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.25);
  display: none;
}

.popOutMenu li{
  padding: 0.7em 1em;
  list-style: none;
}

.sidebar_item:hover .popOutMenu{
  display: block;
}

.popOutMenu a{
  text-decoration: none;
}

.popOutMenu_list:hover{
  background: rgba(194, 194, 194, 0.205);
  cursor: pointer;
}

